spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5456/zenfood
    username: postgres
    password: 123456
    platform: postgres

  jpa:
    show-sql: true
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  jwt-secret: JWTSuperSecretKey
  jwt-expiration-in-ms: 604800000

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG

aws:
  endpoint-url: https://s3-eu-west-1.amazonaws.com
  access-key: AKIAUNGXOCQBVNBOPI7R
  secret-key: 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
  bucket-name: zenfood.dish