spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5456/zenfood
    username: postgres
    password: 123456
    platform: postgres

  jpa:
    show-sql: true
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  jwtSecret: JWTSuperSecretKey
  jwtExpirationInMs: 604800000

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG

amazonProperties:
  endpointUrl: https://s3.console.aws.amazon.com/s3/buckets
  accessKey: AKIAUNGXOCQBVNBOPI7R
  secretKey: 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
  bucketName: zenfood.dish